<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
    <strong><a href="{{ base }}">{{ site.title }}</a></strong> is a collection of cheatsheets, some of which are written by me and it's mostly taken from 
    the amazing website <a href='https://devhints.io'>devhints.io</a> by <a href='https://ricostacruz.com'>@rstacruz</a>.
      <i class='fleuron'></i>
      I'm <a href="http://manparvesh.com">Man Parvesh Singh Randhawa</a>. 
    </p>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='.#toc'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
